{% extends "base.html" %}
{% block content %}
<body>
    <h1>Lista de Tarefas</h1>
    
    <a href="{% url 'add_task' %}" class="add-task">Adicionando nova tarefa</a>

    <h2>Tarefas Incompletas</h2>
    <div>
        {% for task in tasks %}
            {% if not task.status %}
                <div class="task incomplete">
                    {{ task.titulo }}
                </div>
                <a href="{% url 'atualizar_task' task.id %}">Editar Tarefas</a>
                <a href="{% url 'delete_task' task.id %}">Excluir Tarefas</a>
            {% endif %}
        {% empty %}
            <p>Não há tarefas incompletas.</p>
        {% endfor %}
    </div>

    <h2>Tarefas Completas</h2>
    <div>
        {% for task in tasks %}
            {% if task.status %}
                <div class="task complete">
                    {{ task.titulo }}
                </div>
                <a href="{% url 'atualizar_task' task.id %}">Editar Tarefas</a>
                <a href="{% url 'delete_task' task.id %}">Excluir Tarefas</a>
            {% endif %}
        {% empty %}
            <p>Não há tarefas completas.</p>
        {% endfor %}
    </div>
    <a href="{% url 'Lista_funcionarios' %}" class="trocar-pagina">Lista de Funcionarios</a>
</body>

{% endblock %}