{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/Funcionario/add_funcionarios.css' %}" rel="stylesheet">
<body>
    <h1 class="adicionar">Adicionar Novo Funcionário</h1>
    
    <div class="form-container">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="employee_name">Nome do Funcionário:</label>
                <input type="text" name="nome" required>
            </div>
            <div class="form-group">
                <label for="employee_role">Função:</label>
                <input type="text" name="funcao" required>
            </div>
            <div class="status-group">
                <label>Presente:</label>
                <label>
                    <input type="checkbox" name="presente" value="Ativo"> Presente
                </label>
            </div>
            <button type="submit">Adicionar Funcionário</button>
        </form>
    </div>
    <a href="{% url 'Lista_funcionarios' %}">Voltar para a lista</a>
</body>
{% endblock %}
