{% extends "base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'css/Funcionario/lista_funcionarios.css' %}" rel="stylesheet">
<body>
    <h1>Lista de Funcionários</h1>
    
    <a href="{% url 'add_funcionario' %}" class="add-funcioario">Adicionar Novo Funcionário</a>

    <h2 class="F-A">Funcionários Ativos</h2>
    <div>
        {% for funcioario in funcionarios_on %}
            {% if not funcioario.status %}
                <div class="Funcionario Ativos">
                    {{ funcioario.Nome }}
                </div>
                <a href="{% url 'atualizar_funcionario' funcioario.id %}">Editar Tarefas</a>
                <a href="{% url 'delete_funcionario' funcioario.id %}">Excluir Tarefas</a>
            {% endif %}
        {% empty %}
            <p class="ativo">Não há Funcionario Ativos</p>
        {% endfor %}
    </div>

    <h2 class="F-I">Funcionários Inativos</h2>
    <div>
        {% for funcioario in funcionarios_off %}
            {% if not funcioario.status %}
                <div class="Funcionario Inativo">
                    {{ funcioario.Nome }}
                </div>
                <a href="{% url 'atualizar_funcionario' funcioario.id %}">Editar Tarefas</a>
                <a href="{% url 'delete_funcionario' funcioario.id %}">Excluir Tarefas</a>
            {% endif %}
        {% empty %}
            <p class="inativo">Não há Funcionario Inativo</p>
        {% endfor %}
    </div>
    </div>
    <a href="{% url 'lista_tarefas' %}" class="trocar-pagina">Lista de Tasks</a>
</body>
{% endblock %}

<a href="{% url 'atualizar_funcionario' funcioario.id %}">Editar Tarefas</a>
